body {
  background-color: rgb(68, 65, 68);
}

.container {
  margin: auto;
}

.row {
  display: grid;
}

.col {
  margin-left: auto;
  margin-right: auto;
}

.card {
  text-align: center;
  margin-top: 20px;
  background-color: white;
  width: 500px;
  border-radius: 2px;
  padding-top: 25px;
}

h1 {
  font-size: 35px;
  /* padding-top: 10px;
  margin: 0px 150px 32px 100px;
  background-color: rgb(201, 197, 197); */
}

.input-group-addon {
  background-color: rgb(201, 197, 197);
  padding: 6px 10px;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.form-control {
  height: 24px;
  padding-left: 8px;
  width: 357px;
}

.form1 {
  width: 392px;
  height: 24px;
  padding-left: 8px;
  margin-bottom: 20px;
}

.btn {
  background-color: rgb(68, 65, 68);
  color: white;
  width: 270px;
  border-radius: 3px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.form2 {
  width: 255px;
  height: 24px;
  padding-left: 8px;
}

h5 {
  margin-bottom: 7px;
}

.form3 {
  width: 278px;
  height: 24px;
  padding-left: 8px;
}

.form4 {
  width: 287px;
  height: 24px;
  padding-left: 8px;
}

.load {
  height: 200px;
}

#loading,
#results {
  display: none;
}

.alert {
  background-color: rgb(245, 182, 182);
  color: rgb(135, 3, 3);
  width: 392px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 16px;
  font-size: 22px;
}
